@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-dark: #181928;
    --bg-gray: #acacac;
    --bg-gold: #FFD700;
    --bg-menu: #1B1C2C;
    --bg-input: #343439;
    --text-lite: #c5c5c5;
    /*-----------------------------*/
    --menu-width: 200px;
    --menu-nav-select: #3F3F44;
}

html, body {
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex { display: flex;}

.titulo-pagina { 
    font-size: 20px;
    margin-left: 10px;
}

.container {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    overflow-y: hidden;
}

.container.h100 {
    height: 100%;
}

.contents {
    height: 100%;
    width: calc( 100% - var(--menu-width) );
    background-color: var(--bg-dark);
    color: var(--text-lite);
    padding: 10px 20px;
    overflow-x: auto;
}

.box-padrao {
    background-color: var(--bg-menu);
    padding: 30px 20px;
    border-radius: 3px;
}

/* ----- modifica o scroll para ficar mais de acordo com o site*/
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-dark);
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-menu);
}


/*box  de mensagem*/

.container-message {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #ccc;
    border-radius: 3px;
}

.container-message.error {background-color: rgba(231, 162, 162, 0.5);}
.container-message.success {background-color: rgba(151, 212, 151, 0.5);}

.box-message {
    padding: 15px;
}

.box-message p {
    text-align: center;
    font-size: 12px;
    padding-right: 5px;
}

.message__btn-close {
    position: absolute;
    top: 1.5px;
    right: 1.5px;
    cursor: pointer;
}

/*---------------------------------------------*/

.input-box {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.input-box-btn button,
.input-box-btn input,
.input-box-btn a  {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.wd-120px { width: 120px;}
.wd-150px { width: 150px;}
.wd-180px { width: 180px;}
.wd-200px { width: 200px;}

