@import url(index.css);

.my {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my--picture-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #121320;
    margin-bottom: 40px;
}

.my--picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my--text {
    margin-bottom: 40px;
    text-align: center;
}

.my--text h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.my--text h1 span, .my--text h2 span {color: var(--bg-button);}

.my--button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.my--button a {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid var(--color-text);
}

.my--button a.ver-mais {
    border: none;
    background-color: var(--bg-button);
}

.my--declariation {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
}

/*================ ANIMAÇÃO ===============*/

.my--text h2 {
  border-right: 3px solid var(--bg-button);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { border-color: var(--bg-button); }
  50% { border-color: transparent; }
  100% { border-color: var(--bg-button); }
}