:root {
    --bg-body : #1B1C2C;
    --bg-menu : #20353F;
    --bg-button : #2B6F8D;
    --bg-card : #181928;
    --bg-detail : #121320;
    --color-text: #f1f1f1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    text-decoration: none;
    list-style: none;
    scrollbar-color: var(--bg-detail) var(--bg-body);
    scrollbar-width: thin;
}

body, html {
    min-height: 100%;
    position: relative;
}

.bg-style {
    width: 100%;
    height: 100vh;
    position: relative;
}

.effect-shadow {
    box-shadow: 0px 4px 5px var(--bg-button);
}

/*==================================================*/

#particles-container {
    width: 100%;
    height: 100%; /* Pode trocar por 100% se estiver dentro de outra div */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-color: var(--bg-body);
}

#particles-canvas {
  display: block;
  width: 100%;
  height: 100%;
}


.menu {
    position: fixed;
    left: 50px;
    top: 50%;
    width: 60px;
    height: 220px;
    transform: translateY(-50%);
    background: var(--bg-menu);
    padding: 10px 0 10px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.menu ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.menu li a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu li a:hover {
    background-color: var(--bg-button);
    box-shadow: 1px 4px 10px var(--bg-button);

}

.social {
    position: fixed;
    bottom: 30px;
    left: 50px;
    z-index: 99;
}

.social ul {
    display: flex;
    gap: 10px;
}

.social li a i {
    font-size: 22px;
    transition: all 0.2s;
}
.social li a i:hover {
    transform: scale(1.1);
}

/*====================== ANIMAÇÕES ============================*/

/*animação de texto*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking {
    animation: tracking 2s ease-in-out forwards;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }

  50%{
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}



